  <head>
    <title>Parent Signup</title>
    <style>
      body {
        background-color: #f6d365;
        background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
        font-family: Arial, sans-serif;
        text-align: center;
      }

      h1 {
        color: #fff;
        font-size: 2rem;
        margin-top: 2rem;
      }

      form {
        margin: 2rem auto;
        padding: 2rem;
        max-width: 800px;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 0 50px rgba(0, 123, 234, 1);
      }

      label {
        display: inline-block;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #444;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="number"],
      input[type="password"],
      select {
        width: 100%;
        font-size: 15px;
        padding: 0.2rem;
        margin-top: 1px;
        margin-bottom: 1px;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      input[type="submit"] {
        background-color: darkblue;
        color: #fff;
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 2rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        width: 100%;
      }

      input[type="submit"]:hover {
        background-color: #ff4d4d;
      }

      .error {
        color: #f00;
        margin-top: 0.5rem;
      }
    </style>
  </head>
  <body>
    <h1>Parent Signup</h1>

    <%= form_with url: parent_signup_path, method: :post do |f| %>
      <%= f.label :name, "Name"%>
      <%= f.text_field :name %>

      <%= f.label :surname, "Surname" %>
      <%= f.text_field :surname %>

      <%= f.label :password, "Password"%>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :child_name, "Child's Name" %>
      <%= f.text_field :child_name %>

      <%= f.label :email, "Email" %>
      <%= f.email_field :email %>

      <%= f.label :phone_number, "Phone Number"%>
      <%= f.phone_field :phone_number %>

      <%= f.label :social_id, "Social ID" %>
      <%= f.text_field :social_id %>

      <%= f.label :parent_job, "Job" %>
      <%= f.text_field :parent_job %>

      <%= f.label :parent_age, "Age" %>
      <%= f.number_field :parent_age %>

      <%= f.label :child_age, "Child Age" %>
      <%= f.number_field :child_age %>

      <%= f.label :child_grade, "Child Grade" %>
      <%= f.number_field :child_grade %>

      <%= f.label :child_school_id, "Child School ID" %>
      <%= f.number_field :child_school_id %>

      <%= f.label :teacher_id, "Teacher Name"%>
      <%= f.select :teacher_id, options_for_select(all_teachers()),{include_blank: true}, {class: "form-control"} %>

      <%= f.label :school_name, "School Name" %>
      <%= f.select :school_name, options_for_select(all_schools()),{include_blank: true}, {class: "form-control"} %>

      <%= f.submit "Sign up" %>
    <% end %>

  </body>
